/*--------------fonts----------------*/
/*Headings*/
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova/ProximaNova-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
  }

  @font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova/ProximaNova-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
  }
  /*Text*/
  /* Light */
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

/* Book */
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-Book.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* Medium */
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

/*Ultra*/
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-Ultra.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}


a, p, span, button{
    color: var(--text-color);
    text-decoration: none;
    font-family: "Gotham";
    margin: 0;
}


h1, h2, h3, h4, h5, h6{
    color: var(--heading-color);
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 900;
    margin: 0;
}
h1{
  font-size: var(--medium-heading);
}
/*----------------variables----------------*/
:root{
  /*body*/
    --primary-color: #F8FAFC;
    --secondary-color: #F5F7F9;
    ---borders-color: #AEAEAE;
  /*text variables*/
    --text-color: #333333;
    --small-text: 14px;
    --medium-text: 16px;
    --large-text: 18px;
    --big-text: 20px;
    --book-weight: 400;
    --light-weight: 300;
    --medium-weight: 500;
    --ultra-weght: 900;
    --white-text: #E6EDF7;
    /*Heading variables*/
    --heading-color: #353535;
    --small-heading: 24px;
    --medium-heading: 34px;
}

body {
    background-color: var(--primary-color);
    color: #333;
  }
  
  .container {
    display: flex;
    height: 100vh;
    width: 100%;
  }


/*----------------------Left bar-------------------------*/

  /* Sidebar izquierdo */
  .sidebar-left {
    display: flex;
    flex-direction: column;
    width: 15%;
    background-color: var(--primary-color);
    border-right: 1px solid #e0e0e0;
    padding: 0 20px 0 28px;
    gap: 80px;
  }

  .main-logo{
    width: 56px;
  }
  .logo_text{
      color: var(--heading-color);
      font-size: var(--small-heading);
      font-family: "Proxima Nova";
      font-style: italic;
      font-weight: 900;
  }

  .img_left-bar{
      width: 33px;
  }

  .main-menu {
    display: grid;
    list-style-type: none;
    gap: 24px;
    padding: 0 0 0 10px; 
    margin: 0;  
  }

  nav .main-menu li{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
  }
  
.main-menu li a{
  font-size: 20px;
  font-weight: 400;
}

  .left-container-logo{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-top: 50px;
    gap: 8px;
  }

  .left-container-main-menu{
    height: 100%;
  }

  .left-container-second-menu{
    margin-bottom: 50px;
  }

.left-container-second-menu .main-menu .bottom-menu{
  font-size: var(--medium-text);
  font-weight: var(--light-weight);
}
  
  .sidebar-left nav li:hover {
    background-color: #f0f0f5;
  }
  
  /* Contenido principal */
  main {
    width: 65%;
    flex: 1;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  /* Header */
  .header {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin-top: 26px;
    padding: 0 0 54px;
    border-bottom: 0.5px solid var(---borders-color);
  }
  
.wellcome-home-container{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

  .date-notifications-container{
    display: inline-flex;
    position: absolute;
    top: 0;
    right: 0;
    gap: 20px;
  }

  .notifications-button{
    background-color: var(--primary-color);
    position: relative;
    border: 0.3px solid var(---borders-color);
    padding: 4px 24px;
    border-radius: 2.5px 6.5px;
    height: 43px;
  }

  .button-budge{
    font-family: "Gotham";
    font-weight: var(--medium-weight);
    color: var(--white-text);
    font-size: 14px;
    padding: 4px 8px;
    position: absolute;
    right: calc(100% - 10px);
    bottom: 30px;
    border-radius: 50%;
    background-color: #B15364;
  }
  
.calendar{
  display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 5px 8px;
    border: 0.3px solid var(---borders-color);
    border-radius: 2.5px 6.5px;
}

.calendar p{
  font-family: "Gotham";
  font-size: var(--small-text);
  font-weight: var(--medium-weight);
}

  /* Estadísticas */
  .stats {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .stats div{
    width: 33.3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }

  .stats div .stats-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .stats div img{
    width: 92px;
  }
.stats p{
  font-size: var(--big-text);
  font-weight: var(--medium-weight);
}

.stats span{
  font-size: var(--big-text);
  font-weight: var(--ultra-weght);
}
  
  /*--------------- Table ---------------*/

/*search bar*/

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  width: auto;
  padding: 16px 8px;
  margin: 0;
  border-radius: 2.5px;
  gap: 32px;
  background-color: #ffff;
}

.search-container input[type="search"] {
  flex: 1;
  padding: 12px 12px 12px 40px;
  box-shadow: inset 0 0 0 0.5px var(---borders-color);
  border-radius: 2.5px;
  outline: none;
  font-size: var(--small-text);
  font-weight: var(--light-weight);
  border: none;
  font-family: "Gotham";
  background-color: var(--primary-color);
}

.filter-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 3px 8px 3px;
  font-size: var(--small-text);
  font-weight: var(--light-weight);
  border: none;
  border-radius: 2.5px;
  box-shadow: inset 0 0 0 0.5px var(---borders-color);
  background-color: var(--primary-color);
  font-family: "Gotham";
  cursor: pointer;
}

.filter-btn img{
  width: 33px;
}

.lens{
  left: 12px;
  position: absolute;
  z-index: 1;
}

.filter-btn:hover {
  background-color: var(--secondary-color);
}


/*----------table------------*/
  .table-section {
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding-top: 54px;
    overflow-y: auto;
    border-top: 0.5px solid var(---borders-color);
  }
  
  table {
    width: 100%;
    background-color: #ffff;
  }

  input[type="checkbox"]{
    position: relative;
    height: 25px;
    width: 25px;
    border: none;
    appearance: none;
    border-radius: 2.5px;
    box-shadow: inset 0 0 0 0.5px var(---borders-color);
  }

  input[type="checkbox"]::after {
    content: "";
    position: absolute;
    top: 5px;
    right: 8px;
    width: 5px;
    height: 10px;
    border: solid #000;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  input[type="checkbox"]:checked::after {
    opacity: 1;
  }
  
  table th, table td {
    font-family: "Gotham";
    font-size: var(--medium-text);
    color: var(--text-color);
    font-weight: var(--light-weight);
    padding: 16px 12px;
    text-align: left;
    border-bottom: 1px solid #eee;
  }
  
  table th {
    color: #888;
  }

  td img{
    width: 33px;
  }
  
  /* Sidebar derecho */
  .sidebar-right {
    width: 20%;
    background-color: var(--primary-color);
    border-left: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  /*cover picture*/

.cover-profile-container{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 64px 0 40px 0;
  width: 100%;
  border-bottom: 0.5px solid var(---borders-color);
}

.cover-picture{
  width: 200px;
}

.cover-profile-container button{
  background-color: #ffff;
  position: absolute;
  border: 0.5px solid var(---borders-color);
  top: 68px;
  left: calc(100% - 80px);
}

.profile-picture_container{
  position: absolute;
  top: 70%;
}

.profile-picture{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 64px;
  border-radius: 50%;
  background-color: #D1D9DC;
}

.profile-picture img{
  width: 40px;
}

.profile-picture span img{
  width: 12px;
}

.profile-picture span{
  position: absolute;
  border-radius: 50%;
  border: 0.3px solid var(---borders-color);
  padding: 8px;
}